.postcard {
  position: relative;
}

.postcard__cover{
  @extend %u-paddingHS;
  @extend %u-marginVS;
}

.postcard__main {
  @extend %u-paddingHS;
  @extend %u-marginVS;
}

.postcard__title {
  @include u-fontSize(14px);
  line-height: 1.6;
  margin: 0;
}

.postcard__head {
  @extend %u-marginBS;
}

.postcard__media {
  // webkit translatZ(0) fixes "shaky images durring
  // css transition" bug on webkit browsers
  -webkit-transform: translateZ(0);
  background: $prj-color--gray-silver;
  box-shadow: $prj-color--gray-medium 0 0 1px 0;
  border-top: 4px solid;

  img {
    width: 100%;
    height: auto;
  }

  &:hover,
  &:focus {
    img {
      @include opacity(0.8);
    }
  }
}

.postcard--landscape {
  @extend %u-span12;

  .postcard__inner {
    @extend %GZone;
  }

  .postcard__cover,
  .postcard__main {
    @extend %GColumn;
    position: static;
  }

  .postcard__title {
    @include u-fontSize(21px);
    line-height: 1.6;
  }

}

.postcard--primary {

  .postcard__main {
    @extend %u-span1of3;
  }

  .postcard__cover {
    @extend %u-span2of3;
    @extend %GColumn--oppos;
  }

}

.postcard__taxo {
  position: absolute;
  top: 14px;
  left: 28px;
}

$taxos: techultyTaxos();
@each $taxo in $taxos {

  $name: nth($taxo, 1);
  $color: nth($taxo, 2);

  .postcard--#{$name} {
    @include ribbonColor($color);

    .postcard__media {
      border-color: $color;
    }

  }
}