.postcard {

}

.postcard__cover{
  @extend %u-paddingHS;
  @extend %u-marginVS;
}

.postcard__main {
  @extend %u-paddingHS;
  @extend %u-marginVS;
}

.postcard__title {
  @include u-fontSize(14px);
  line-height: 1.6;
  margin: 0;
}

.postcard__head {
  @extend %u-marginBS;
}

.postcard__media {
  @extend .respomedia;
  // webkit translatZ(0) fixes "shaky images durring css transition" bug on webkit browsers
  -webkit-transform: translateZ(0);
  background: $prj-color--gray-silver;
  box-shadow: $prj-color--gray-medium 0 0 1px 0;
  border-top: 4px solid;
  img {
    height: auto;
  }
  &:hover,
  &:focus {
    @include opacity(0.8);
  }
}

.postcard--primary {
  @extend %u-span12;

  .postcard__inner {
    @extend %GZone;
  }

  .postcard__cover,
  .postcard__main {
    @extend %GColumn;
    position: static;
  }

  .postcard__title {
    @include u-fontSize(21px);
    line-height: 1.6;
  }

}


@mixin postcard__taxo ($color) {
  .postcard__taxo-label {
    background: lighten($color,5%);
  }

  .postcard__taxo-link {
    border-color: $color;
  }
}

.postcard__taxo {
  position: absolute;
  float: right;
  top: 14px;
  left: 14px;
}

.postcard__taxo-link,
.postcard__taxo-label {
  display: inline-block;
}

.postcard__taxo-label {
  @include u-inlineBlockSize(1);
  @include translate(0,-80%);
  @include transition-property(transform);
  @include transition-duration(0.3s);
  -webkit-backface-visibility: hidden;
}

.postcard__taxo-link {
  border-radius: 0;
  color: white;
  border-top: 4px solid;

  &:hover,
  &:focus {
    color: white;
    .postcard__taxo-label {
      @include translate(0,0);
    }
  }
  overflow: hidden;
}

$taxos: (
  'design' $prj-color--green-sea,
  'frontend' $prj-color--blue,
  'backend' $prj-color--purple,
  'content' $prj-color--gray-hard,
  'tools' $prj-color--night,
  'business' $prj-color--orange
);
@each $taxo in $taxos {
  $name: nth($taxo, 1);
  $color: nth($taxo, 2);
  .postcard--#{$name} {
    @include postcard__taxo($color);
    .postcard__media {
      border-color: $color;
    }
  }
}




