.widget {
  @extend %u-marginBS;
}

.widget__title {
  @extend %u-paddingHS;
  @extend %H--h6;
  line-height: 2.4;
  font-weight: 400;
  margin: 0;
}
.widget__head {
  border-bottom: 1px solid $prj-color--gray-smoke;
}

.widget__copy {
  @extend %u-paddingAS;
}

.widget__foot {
  @extend %u-paddingAS;
}