.column--featured {
  @extend %u-span9;
  @extend %u-paddingHS;
}

.section--featured  {
  background: white;
  box-shadow: $prj-color--gray-blue 0 0 1px 0;
  @extend %u-marginBL;
}

.featured {
  @extend %GCell;
  @extend %u-span1of3;
}

.featured--first {
  border-bottom: 1px solid $prj-color--gray-silver;
  .postcard__main {
    @extend %u-span1of3;
  }
  .postcard__cover {
    @extend %u-span2of3;
    @extend %GColumn--oppos;
  }
}





